/* FONTS */
#content, #footer, #metainfo,
#content dt, #content dd {
  font: 400 18px/28px "gentium book basic";
  color: rgb(34, 34, 34);
}
#content strong, #footer strong, #metainfo strong {
  font: 700 18px/28px "gentium book basic";
}
h1, h2, h3, h4, h5, h6 {
  font-family: "open sans";
  font-weight: 800;
}
#menu .nav-list {
  font: 400 18px/30px "open sans";
}
#menu .nav-list .nav-header {
  font: 400 19px/40px "open sans";
}
#metainfo {
  font-style: italic;
  font-size: 16px;
  line-height: 20px;
}
#metainfo .tags {
  font-style: normal;
}
#metainfo .name {
  font-weight: 700;
  font-style: normal;
}


/* SOME LAYOUT CHANGES */
.container-fluid {
  padding-left: 0;
}
#menu {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
}


/* COLORS and STYLES */
#menu {
  background-color: #252A3A;
}
#menu .nav-header {
  color: #FFF;
  padding: 15px 15px;
  text-align: center;
}
#menu a {
  color: #AAA;
  text-shadow: none;
  padding: 15px 15px;
}
#menu a:hover, #menu a:focus, #menu .active a {
  background-color: rgb(55, 60, 90);
}
#menu .divider {
  margin: 9px -15px;
  border-bottom: 1px solid #AAA;
  background-color: transparent;
}

#metainfo {
  margin-top: 20px;
}
#metainfo .tags {
  list-style: none;
  margin-left: 20px;
}
#metainfo img {
  width: 100px;
  height: 100px;
}

#footer {
  margin-top: 50px;
  border-top: 1px solid #AAA;
  font-size: 16px;
  line-height: 24px;
}
#footer img {
  height: 15px;
  width: 80px;
  margin: 0;
  padding: 0;
}

/* aka code element; borrowed from Bootstrap <code> CSS */
#content tt {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  border-radius: 3px 3px 3px 3px;
  padding: 2px 4px;
  color: rgb(221, 17, 68);
  white-space: nowrap;
  background-color: rgb(247, 247, 249);
  border: 1px solid rgb(225, 225, 232);
}

#content dt {
  font-weight: 700;
}

.tagcloud {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tagcloud li {
  float: left;
}

.tagcloud li a {
  display: block;
  height: 40px;
  padding: 10px 10px 0 10px;
}

.tag-3 { font-size: 16px; }
.tag-2 { font-size: 18px; }
.tag-1 { font-size: 20px; }
.tag-0 { font-size: 22px; font-weight: 700; }
.tag--1 { font-size: 24px; font-weight: 700; }
.tag--2 { font-size: 26px; font-weight: 700; }
.tag--3 { font-size: 28px; font-weight: 700; }


@media (max-width: 767px) {
  #menu {
    position: static;
    height: auto;
  }
}
