<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head -%}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} &middot; Piotr Banaszkiewicz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Blog by Piotr Banaszkiewicz">
    <meta name="author" content="Piotr Banaszkiewicz">

    <link rel="stylesheet" href="{{ env.path + '/css/pure-min.css' }}">
    <link href='http://fonts.googleapis.com/css?family=Noticia+Text:700'
      rel='stylesheet' type='text/css'>
    <!-- <link href='http://fonts.googleapis.com/css?family=Dosis:700'
      rel='stylesheet' type='text/css'> -->
    <link media="screen" href="{{ env.path + '/css/pygment_trac.css' }}" rel="stylesheet" />
    <link href="{{ env.path + '/css/font-awesome.min.css'}}" rel="stylesheet">
    <!--[if IE 7]>
    <link href="{{ env.path + '/css/font-awesome-ie7.min.css'}}" rel="stylesheet">
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="{{ env.path + '/js/html5shiv.js'}}"></script>
    <![endif]-->
    <link href="{{ env.path + '/css/main.css'}}" rel="stylesheet">

    <link href="{{ env.path + '/' }}" rel="home start" />

    <link rel="apple-touch-icon-precomposed" sizes="144x144"
      href="{{ env.path + '/img/ico/apple-touch-icon-144-precomposed.png'}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
      href="{{ env.path + '/img/ico/apple-touch-icon-114-precomposed.png'}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
      href="{{ env.path + '/img/ico/apple-touch-icon-72-precomposed.png'}}">
    <link rel="apple-touch-icon-precomposed"
      href="{{ env.path + '/img/ico/apple-touch-icon-57-precomposed.png'}}">
    <link rel="shortcut icon" href="{{ env.path + '/img/ico/favicon.png'}}">
    {%- endblock %}
  </head>
  <body>

    <div class="pure-g-r" id="content-wrapper">
      <div class="pure-u-1-8" id="menu">
        <div class="pure-menu pure-menu-open">
          <a class="pure-menu-heading" href="/">Piotr Banaszkiewicz</a>
          <ul id="sidebar-menu">
            <li><a href="/">Blog</a></li>
            <li><a href="/archive/">Archive</a></li>
            <li><a href="/tags/">Tags</a></li>
            <li><a href="/projects/">Projects</a></li>
            <li><a href="/about-me/">About me</a></li>
            <li class="menu-item-divided">
              <a href="https://github.com/pbanaszkiewicz">I'm on Github!</a>
            </li>
            <li><a href="https://speakerdeck.com/pbanaszkiewicz">Presentations</a></li>
          </ul>
        </div>

      </div><!-- end of menu -->

      <div class="pure-u-2-5" id="main">
        <div id="content">
{%- block content -%}
{%- endblock -%}
        </div><!-- end of content -->

        <div id="footer" class="clearfix">
          <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="width: 80px; height: 15px; margin: 0; padding: 0;"
          src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a><br>
          This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.<br>
          Code examples are <a href="http://en.wikipedia.org/wiki/Public_domain">public domain</a>.</p>
        </div><!-- end of footer -->
      </div><!-- end of main -->

      <div class="pure-u-1-5" id="metainfo">
        <div class="avatar"></div>
        <p class="name">Piotr Banaszkiewicz</p>
        <p><a href="http://www.agh.edu.pl/en/">AGH-UST</a> student, computer<br>
            geek, Python programmer,<br>
            cyclist.</p>
        <p class="datetime">{% block datetime %}{% endblock %}</p>
        {% block tags %}{% endblock %}
      </div><!-- end of metainfo -->
    </div><!-- end of content-wrapper -->

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript">
      jQuery.fn.reverse = [].reverse;

      var path = window.location.pathname;

      $("#sidebar-menu li a").reverse().each(function() {
        var href = $(this).attr("href");
        if (path.substr(0, href.length) == href)
        {
          $(this).parent().toggleClass("pure-menu-selected");
          return false;
        }
      });
    </script>
  </body>
</html>
