{% extends "base.html" %}

{% block title %}
    {%- if entry is defined -%}
      {{ entry.title }}
    {%- else -%}
      {{ conf.sitename }}
    {%- endif -%}
{% endblock %}

{% block meta %}
    {{- super() }}
    {%- if entry is defined %}
    <meta name="keywords" content="{{ entry.tags | join(', ') }}" />
    {%- endif -%}
{% endblock %}

{% block dateinfo %}
{% if entry is defined and entry.type != "page" %}
    <div class="postdate">
        <p>Written on<br>{{ entry.date.strftime("%a %d %B, %Y") }}.</p>
    </div>
    {%- if entry.tags %}
    <div class="posttags">
        <p>Tags:</p>
        <ul>
            {% for link in entry.tags | tagify -%}
            <li><a href="{{ env.path + link.href }}" rel="tag">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif -%}
{% endif %}
{% endblock %}

{% block content %}
{% if entry is defined %}
    {% if entry.type == "page" %}
        {% include 'staticpage.html' %}
    {% else %}
        {% include 'entrypage.html' %}
    {% endif %}
{% else %}
    {% for entry in env.entrylist %}
        {% include 'entry_homepage.html' %}
    {% endfor %}
        <ul class="pager">
            {% if env.prev is not none %}
            <li class="previous">
                {%- if not env.prev %}
                    {% set prev = "#" %}
                {% elif env.prev|string|length == 0 %}
                    {% set prev = "/" %}
                {% else %}
                    {% set prev = env.path ~ env.prev %}
                {% endif -%}
                <a href="{{ prev }}">&larr; Older</a>
            </li>
            {% endif %}
            {% if env.next is not none %}
            <li class="next">
                {%- if not env.next %}
                    {% set next = "#" %}
                {% elif env.next|string|length == 0 %}
                    {% set next = "/" %}
                {% else %}
                    {% set next = env.path ~ env.next %}
                {% endif -%}
                <a href="{{ next }}">Newer &rarr;</a>
            </li>
            {% endif %}
        </ul>
{% endif %}
{% endblock %}
