{% extends "main.html" %}

{% block title %}Tags{% endblock %}

{% block content %}
    <div class="staticpage">
        {% if env.tag_cloud %}
        <h2>Tags</h2>
        <ul id="tagcloud">
            {%- for tag in env.tag_cloud %}
            <li class="tag-{{ tag.step }}"><a href="/tag/{{ tag.name | safeslug }}">{{ tag.name }}</a></li>
            {%- endfor %}
        </ul>
        {% else %}
        <div class="panel panel-danger pagemargin">
            <div class="panel-heading">Sorry!</div>
            <p><strong>Tags</strong> were not enabled. Cannot populate them.</p>
        </div>
        {% endif %}
    </div>
{% endblock %}
